/* Reset and Font Family */
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Background */
.bg{
    background-color: #CACACA;
}
.bg-alternative{
    background-color: #878787;
}
/* Presets H1 */
h1{
    text-align: center;
    padding-bottom: 1%;
}
main{
    margin-top: 5%;
    margin-bottom: 5%;
}
/* Nav Bar Styles */
.menu {
    background-color: #878787;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .menu img{
        width: 10%;
        padding: 0.7em;
    }
    .menu .login-button{
        display: flex;
        align-items: center;

    }
    .menu ul{
        list-style: none;
        display: flex;
        align-self: end;
        padding-left: 0;
        margin-bottom: 0;
    }
        .menu ul li{
            margin: 1%;
            padding: 1% 3%;
        }
            .menu ul li a{
                text-decoration: none;
                color: #202022;
                font-size: 1.1em;
            }
            .menu ul li a:hover{
                background-color: #CACACA;
                color: #878787;
            }
.active{
    border-bottom: 2px solid #202022;
}
/* Ends Nav Bar Styles*/
/* Buttons */
.mi-button{
    border: 2px solid #202022;
    border-radius: 8px;
    padding: 6px 8px;
    background-color: #202022;
    text-decoration: none;
    font-size: 1.1em;
    color: #00BBC9;
}
.mi-button:hover{
    background-color: #878787;
    color: #00747C;
}
/* Containers */
.oculto{
    display: none !important;
}
.container{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 4%;
    width: 90%;
}

.servicios{
    display: flex;
    justify-content: space-evenly;
}
    .servicios article{
        margin: 10px;
        width: 30%;
        overflow: hidden;
    }
    .servicios img{
        overflow: hidden;
    }

.tostada{
    color: #00BBC9;
}
#contenedorCarrito{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 40vh;
}
.tarjetaCarrito{
    display: flex;
    padding: 10px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
    .tarjetaCarrito img{
        width: 200px;
    }
    .tarjetaCarrito img, p, h3{
        margin: 30px;
    }
.botonComprar{
    display: flex;
    justify-content: center;
}
/* Starts Login Page */
.img-logo{
    width: 45%;
}
.link-register a{
    color:#202022;
}
/* Ends Login Page */
/* Whatsapp Button */
.wsp{
    position: fixed;
    right: 3%;
    bottom: 3%;
}
/* Footer */
footer{
    padding: 20px;
    background-color: #878787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22%;
}
    footer p{
        font-size: 0.9em;
        color:#202022;
        font-weight: bold;
    }
.social-networks ul{
    list-style: none;
    display: flex;
}
    .social-networks ul li a{
        text-decoration: none;
    }
.social-networks img{
    width: 10%;
}
/* Starts Responsive */
